@model Post

@{
    ViewData["Title"] = Model.Title;
}

<style>
    .content-wraper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif
    }

    .feathur_Image{
        width:100%;
        height:500px;
        object-fit:cover;
        margin-bottom:20px;
    }
</style>

<div class="text-end">
    <a class="btn btn-primary my-3" asp-controller = "Post" asp-action = "Edit" asp-route-id ="@Model.Id" > Eidt Post </a>
    <a class="btn btn-danger mx-3 my-3" asp-controller="Post" asp-action="Delete" asp-route-id ="@Model.Id" >Delete Post</a>
</div>

<div class="content-wraper">
    <h1>@Model.Title</h1>
   <p> <span class="badge bg-primary">By:</span> @Model.Author |
       <span class="badge bg-primary"> Published On </span> @Model.PublishedDate.ToString("MMM dd,yyyy")</p>

   <p><span class="badge bg-secondary">Category</span>@Model.Category.Name</p>
   <img src="@Model.FeathureImagePath" alt="@Model.Title" class="feathur_Image" />
   <hr />
   <div>@Html.Raw(Model.Content)</div>
   <hr />
    @if (Model.Comments.Any())
    {
        <div id="CommentSection">
            @foreach(var comment in Model.Comments)
            {
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                    <h5 class="card-title">@comment.UserName</h5>
                    <p class="card-text text-muted">@comment.CommentDate.ToString("MMM dd, yyyy")</p>
                    <p class="card-text">@comment.Content</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
   <p class="text-muted"> Not Yet Comments Be The First To Comment </p>
    }

    <h4>Add Comment</h4>
    <form id="CommentForm">
        <div class="form-group">
            <label for="Username">Username</label>
            <input for="Username" id="Username" name="Username" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="Content">Content</label>
           <textarea for="Content" id="Content" name="Content" required class="form-control" rows="3" ></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-2 p-2">Submit Comment</button>
        </div>
    </form>
  

</div>

    @section Scripts{
        <script>
            $(document).ready(function(){
                $("#CommentForm").on('submit',function(event){
                     event.preventDefault();
                  var userName= $("#Username").val();
                  var content= $("#Content").val();
                  var postId= @Model.Id;
                  
               $.ajax({
                 //https:localhost:7289/Post/AddComment
                 url: '@Url.Action("AddComment","Post")',
                 type: 'POST',
                 contentType: 'application/json',
                 data:JSON.stringify({
                      UserName: userName,
                      Content: content,
                     PostId: postId
                 }),
                 success:function(response){
                  $('#CommentForm')[0].reset();
                  $('#CommentSection').append(
                         `
                       <div class="card mb-3 shadow-sm">
                      <div class="card-body">
                         <h5 class="card-title">${response.username}</h5>
                         <p class="card-text text-muted">${response.commentDate}</p>
                         <p class="card-text">${response.content }</p>
                     </div>
                    </div>
                         `
                     )
                 }
                })
              });

           });
        </script>
    }