@model Post

@{
    ViewData["Title"] = Model.Title;
}

<style>
    .content-wraper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif
    }

    .feathur_Image{
        width:100%;
        height:500px;
        object-fit:cover;
        margin-bottom:20px;
    }
</style>

<div class="text-end">
    <a class="btn btn-primary my-3 ">Eidt Post</a>
    <a class="btn btn-danger mx-3 my-3 ">Delete Post</a>
</div>

<div class="content-wraper">
    <h1>@Model.Title</h1>
   <p> <span class="badge bg-primary">By:</span> @Model.Author |
       <span class="badge bg-primary"> Published On </span> @Model.PublishedDate.ToString("MMM dd,yyyy")</p>

   <p><span class="badge bg-secondary">Category</span>@Model.Category.Name</p>
   <img src="@Model.FeathureImagePath" alt="@Model.Title" class="feathur_Image" />
   <hr />
   <div>@Html.Raw(Model.Content)</div>
   <hr />
    @if (Model.Comments.Any())
    {
        <div>
            @foreach(var comment in Model.Comments)
            {
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                    <h5 class="card-title">@comment.UserName</h5>
                    <p class="card-text text-muted">@comment.CommentDate.ToString("MMM dd, yyyy")</p>
                    <p class="card-text">@comment.Content</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
   <p class="text-muted"> Not Yet Comments Be The First To Comment </p>
    }
</div>