
@model  IEnumerable<Category> 
@{
    ViewData["Title"] = "Blog Categories";
}

<style>
    .content-wraper {
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif
    }
</style>


<div class="content-wraper">


    <div class="row">
        <div class="form-group">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="form-group">
            <a asp-action="Create" asp-controller="Category" class="btn btn-secondary mb-2">Create Category</a>

        </div>
        <div class="form-group">
            <table class="table table-secondary">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Category ID</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Category Description</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.CategoryList != null)
                    {
                        @foreach (var category in ViewBag.CategoryList)
                        {
                            <tr>
                                <th scope="row">@category.Id</th>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Category" asp-route-categoryId="@category.Id" class="btn btn-primary btn-sm "> Edit</a>
                                    <a asp-action="Delete" asp-controller="Category" asp-route-Id="@category.Id" class="btn btn-danger btn-sm "> Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    
                   


                </tbody>
            </table>
        </div>
       
    </div>
    <hr />

</div> 

